div {
  height: 150px;
  width: 150px;
}

.flex-container {
  border: 5px solid lightblue;
  background-color: aqua;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: column wrap;
  align-items: flex-end;
  align-content: space-around;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

div > p {
  font-size: 4rem;
}

.div-3 {
  order: 4;
}

.div-4 {
  order: 1;
}
